/*-------------------CSS for LAnding page----------------------------------------------------------------------*/

.mainpageSection
{
	background: url('../img/back6.jpg') no-repeat;
	background-size: cover;
	height: 653px;
	width: 100%;	
}
.back_tint{
	position: absolute;
	top:0px;
	left: 0px;
	height:100%;
	background: linear-gradient(rgba(24, 24, 48,0.6),rgba(24, 24, 48,0.6));
	width: 100%;
	margin-top: 0px;
}

.container-fluid{
	margin-top: 1vw
}

.menu_btn{
	position: absolute;
	top: 3%;
	left: 4%;
	color:white;
	font-size: 40px;
	background-color:  transparent;
	border-radius: 100%;
	box-shadow: none;
	border: none;
}

.fa-list{
	color: white;
}


.close_btn{
	background-color: transparent;
	box-shadow: none;
	border: none
}

.menu_item_div{
	
	padding-top: 17%;
	color:white;
}

.menu_item{
	background-color: transparent;
	padding-top: 2%;
	font-size: 1.4vw;
	color: white;
}

.menu_item:hover{
	color: white;
}

.fa-times{
	color: white;
}

.menu_item{
	background-color: transparent;
	padding-top: 2%;
	font-size: 1.4vw;
	color: white;
}

.menu_item:hover{
	color: white;
}
.logoImg
{
	margin-left: 50%;
	background-color: red;
}
.slides{
	position: absolute;
	top:15vw;
	color: white
}

.tagline{
	font-size: 50px;
	color: white;
}

.sub_tagline{
	font-size: 20px
}

.feature1, .feature2{
	color: white;
	font-size: 50px;
}

.tip_btn_section{
	padding-top: 1vw;
}

.tips_btn{
	border: 1px solid #43B05F;
	color: white;
	background-color:  transparent;
}

.tips_btn:hover
{
	color:#43B05F;
}

.feature1_subtitle ,.feature2_subtitle
{
	color: white;
	font-size: 20px;
}
.hamburger
{
	font-size:30px;
	cursor:pointer;
	color:white;
	position:absolute;
	top:3vw;
	left:4vw;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(67, 176, 95,0.8),rgba(67, 176, 95,0.8));
    overflow-x: hidden;
    transition: .5s;
    padding-top: 40px;
}

.sidenav a {
    padding: 15px 15px 15px 25px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    
}

.sidenav a:hover, .offcanvas a:focus{
    text-decoration: none;
    color:white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav .closebtn :hover
{
	text-decoration: none;
}
.sidenav_icon
{
	padding: 10px 10px 10px 20px;
}