@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	.tip
	{
		background-image: -webkit-linear-gradient(280deg,#181830 15%, white 0%);
	}
	.heading h1
	{
		
		font-size: 35px;
		
	}
	.tips_cards
	{
		margin-top: 20%;
		height:100%;
		
	}
	.hamburger
	{
		
		top:5vw;
		left:5vw;
	}
	
/**********************Css related to signup page*****************************************************************/


.sidenav {
    
    background-color:#43B05F;
    
}
.sidenav a {
    
    color: #181830;
    
    
}

.signUppage
{
	background-color: white;
	
}
.signcard
{
	margin-top: 20vw;
	
	height: 100%;
	width: 100%;
	padding-right: 0vw;
	padding-left: 8vw;
	padding-right: 0vw;
	
}
.leftPane
{
	display: none;
}
.rightPane
{
	
	border-top-right-radius: 0em 0em;
	border-bottom-right-radius:0em;
}

.selectButton
{
	
	padding-top:4vw;
	height:100%;
	border:none;

}
.selectButton button
{
	background-color: #43B05F;
	width: 100%;
	font-size: 15px;
}

.myform
{

	padding-top: 20vw;
	padding-left:10vw;
	
}
.myform input
{
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #43B05F;
	box-shadow: none;

}
.signupheading p
{
	color:white;
	font-size: 25px;
}
.buttons
{
	padding-top: 2vw;
	padding-bottom: 5vw;
}
 .signupbutton button
 {
 	width:100%;
 	font-size: 12px;

 }
.form-group
{
	padding-top: 4vw;
}

/*********************Css for Signin************************************************************/
.signinHeading
{
	position: absolute;
	padding-top: 20vw;	
	padding-left: 20vw;

}
.signinHeading p
{
	font-size: 30px;
	color:white;
}
.signinForm
{
	padding-left: 2vw;
	padding-top:40vw;
	padding-bottom: 20vw;
}
.signinsection
{
	padding-top:20%;
	
}
.signInText
{
	display: none;
}
.signinButton
{
	padding-top: 7vw;
	padding-bottom: 20vw;
	width:100%;
}
.signinPage
{
	background-color: white;
}

/*******************************Css for readymade code**************************************************/
.rmcleftContainer
{
	margin-top:15vw; 
}
.code
{
	padding-bottom: 20vw;
}
.rmcleftText
{
	padding-top: 5vw;
	padding-bottom: 5vw;
}
.rmcleftText h1
{
	
	font-size:25px;
	padding: 0px 10px 10px 30px;
	
}
.rmcleftText p
{
	font-size: 12px;
	padding: 0px 45px 10px 30px;
}

.rmcright
{
	
	padding-bottom: 10vw;
}
.rmcright button
{
	width:60%;
}
.rmcDiv
{
	width:100%;padding-top:10vw;
}
.rmcDivbutton
{
	padding-top:10vw;
}
.row1
{
	margin-top:15vw;
	
}
/** *****************************************************css relared to practise section********************/
	.top_section_heading{
		font-size: 8vw;
		position: absolute;
		top: 10%;
		left: 37%;
	}

	.top_section_subheading{
		position: absolute;
		top: 17%;
		left: 13%;
		font-size: 3.5vw;
	}

	.cards_row
	{
		padding-top: 80vw;
	}
}