body {
  padding-top: 0px;
  /*background:url('../img/back.jpg') no-repeat ;
  background-size: cover*/
  height: 100%;
  width: 100%;
}



/*----------------------------Css for Tips-----------------------------------------------------------------------*/
.tip
{
	height:100%;
	width: 100%;
	background-image: -webkit-linear-gradient(277deg,#181830 20%, white 0%);
}
.heading h1
{
	color: white;
	text-align: center;
	font-size: 50px;
	padding-top: 4%;
	padding-left: 2%;
	
}
.heading_icon
{
	padding-right: 20px;
}
.tips_cards
{
	margin-top: 10%;
	height:100%;
	
}
.tips_cards .card
{
	border:1px solid #43B045;
}
.tips_cards ul li a
{
	font-size: 18px;
	color:#43B045;
}
.tips_cards .card-header 
{
	font-size: 20px;
	color:#181830;
	font-weight: bolder;
	border-bottom:1px solid #43B045;
}
.tips_cards .card-footer
{
	font-size: 20px;
	color:#181830;
	border-top:1px solid #43B045;
}
.tips_cards .tab-pane .card-text
{
	font-size: 15px;
	color:#78909c;
}
#myTabContent
{
	margin-top: 30px;
	height: 350px;
	overflow: auto;
}
.new_tip
{
	background-color:	#43B05F;
	height:100%;
	width: 100%;
}
.new_tip_content_heading
{
	padding-top:10%;
	text-align: center;
}
.new_tip_content_textarea
{
	padding-top: 10%;
	 
}
.new_tip_content_textarea input
{
	margin-top: 9px;
	margin-bottom: 9px;
}
.subhead
{
	text-align: center;
	padding-bottom:5%;
}
.subhead h2
{
	color:#181830;
	font-weight: bolder;
	font-size: 30px;
}
.subhead p
{
	font-size: 15px;
}
.Submit_Your_Tip
{
	padding-top: 10%;
	text-align: center;
	padding-bottom: 7%;
}
.Submit_Your_Tip button
{
	font-size: 15px;
	font-weight: bold;
	border:2px solid #181830;
	background-image: -webkit-linear-gradient(64.5deg,#181830 50%, 	#43B05F 50%);
	height:40px;
	width:200px;
}
.hamburger
{
	font-size:30px;
	cursor:pointer;
	color:#43B05F;
	position:fixed;
	top:3vw;
	left:4vw;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#181830;

    background-size: cover;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 80px;
}

.sidenav a {
    padding: 15px 15px 15px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #43B05F;
    display: block;
    transition: 0.3s;
    
}

.sidenav a:hover, .offcanvas a:focus{
    text-decoration: none;
    color:white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav .closebtn :hover
{
	text-decoration: none;
}
.sidenav_icon
{
	padding: 10px 10px 10px 20px;
}
/*********************************CSS for readymade code************************************************************/

.readymadecode
{
	background-color: #e9eaea;
	/*background: url('../img.jpg') no-repeat;
	background-size: cover;*/
	
	height:100%;
	width: 100%;
}
.rmcleft
{
	background: url('../img/readymadecode2.jpg') no-repeat;
	background-size: cover;
	height:653px;
	width: 100%;
}
.rmcleftContainer
{
	margin-top:5vw; 
}
.rmcleftTint
{
	background:linear-gradient(rgba(24, 24, 48, 0.8),rgba(24, 24, 48, 0.8));
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

}
.code
{
	padding-bottom: 2vw;
}
.rmcleftText
{
	padding-top: 2vw;
	padding-bottom: 2vw;
}
.rmcleftText h1
{
	color:white;
	font-size: 40px;
	font-weight: bolder;
	padding: 0px 45px 10px 25px;
}
.rmcleftText p
{
	font-size: 12px;
	padding: 0px 45px 10px 25px;
}
.bottomNav
{
	padding-top: 10vw
}
.bottomNav ul li
{
	display: inline;

}
.bottomNav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}
.rmcright
{
	background-color: #43B05F;
	height:100%;
	width:100%;
	padding-bottom: 6.5vw;
}
.rmcright button
{
	width:80%;color:#43B05F;font-size:20px;border:2px solid #181830;background-color:#181830
}
.rmcDiv
{
	width:100%;padding-top:1vw;
}
.rmcDivbutton
{
	padding-top:2vw;
}
.row1
{
	margin-top:6vw;
	
}
/**********************Css related to signup page*****************************************************************/
.signupContainer
{
	padding-bottom: 1.6vw;
}
.signUppage
{
	background-color: #e9eaea;
	height: 100%;
	width: 100%;
}
.signcard
{
	margin-top: 2vw;
	padding-top: 2vw;
	padding-bottom: 2vw;
	height: 100%;
	width: 100%;
	padding-right: 10vw;
	padding-left: 10vw;
	
}
.leftPane
{
	background-color: #43B05F;
	height:100%;
	width: 100%;
	padding-bottom: 10%;
	border-top-left-radius: 0.6em 0.6em;
	border-bottom-left-radius:0.6em;
}
.signText
{
	font-size: 24px;
	color:white;
	padding-top:5vw;
	padding-right:2vw;
	padding-left: 2vw;
	padding-bottom: 0vw;
}
.signImg img
{
	height: 20vw;
	width:21vw;
	padding-left: 7vw;
	padding-top: 4vw;
	padding-bottom: 10%;
}
.rightPane
{
	background-color: #181830;
	height:100%;
	width: 100%;
	border-top-right-radius: 0.6em 0.6em;
	border-bottom-right-radius:0.6em;
}
.selectButton
{
	float: right;
	padding-top:1vw;
	height:100%;
	border:none;
}
.selectButton button
{
	background-color: #43B05F;
	width: 100%;
	font-size: 12px;
}

.myform
{
	padding-top: 5vw;
	padding-left: 4vw;
	padding-bottom: 3vw;
}
.myform input
{
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #43B05F;
	box-shadow: none;
}
.signupheading p
{

	color:white;
	font-size: 30px;
}
.buttons
{
	padding-top: 1vw;
}
.signupbutton
{
	width:100%;

	
}
 .signupbutton button
 {
 	width:100%;
 	font-size: 12px;
 }
.form-group
{
	padding-top: 2vw;
}
/**************************************Css for Signin*********************************************************/
.signinPage
{
	background-color: #e9eaea;
	height:100%;
	width:100%;
}
.signinsection
{
	padding-top:5%;
}
.signinCard
{
	height:100%;
	background-color: red;
	background:url('../img/signin2.jpg') no-repeat ;
	background-size: cover;
}
.signinTint
{
	position: absolute;
	top:0px;
	left:0px;
	background:linear-gradient(rgba(24, 24, 48, 0.9),rgba(24, 24, 48, 0.9));
	height:100%;
	width: 100%;	
}
.signinHeading
{

	position: absolute;
	padding-top: 5vw;	
	padding-left: 5vw;

}
.signinHeading p
{
	font-size: 30px;
	color:white;
}
.signinForm
{
	padding-left: 2vw;
	padding-top:10vw;
	padding-bottom: 4vw;
}

.signinForm input
{
	background:linear-gradient(rgba(192,192,192,0.3),rgba(192,192,192,0.3));
	
	border-radius: 60px;
}
.signinButton
{
	padding-top: 3vw;
	padding-bottom: 5vw;
	width:100%;
}
.signinButton button
{
	width:110%;
	border-radius: 60px;
	font-size: 18px;
	border:1px solid #43B05F;
}
.signinButton button:hover
{
	background-color: #43B05F;
}
.signinBottom
{
	border-top:1px solid white;
	padding-top: 1vw;

}
.signinBottom a
{
	
	color: grey;
	font-size: 12px;
	
}
.signinBottom a:hover
{
	color:white;
	text-decoration: none;
}
.signInText
{
	height:529px;
	background-color:#43B05F;
	padding-top:1vw;
	padding-bottom: 3vw;
}
.logoImg
{
	padding-left: 2vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
}
.welcomeText 
{
	
	padding-left: 2vw;
	padding-top: 4vw;
	padding-right: 4vw;
	
}
.welcomeText h1
{
	color:white;
	font-size: 30px;
}
.welcomeText h6
{
	
	font-size: 15px;
	color:#181830;
}
.welcomeText p
{
	padding-top: 1vw;
	padding-bottom: 1vw;
	font-size: 12px;
	color: #181830;
}

/*css for practise section*/

.top_section
{
	background: url('../img/5.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	height:100%;
}

.top_section_heading{
	color: white;
	font-size: 4vw;
	position: absolute;
	top: 6%;
	left: 42%;
}

.top_section_subheading{
	color: #43B05F;
	position: absolute;
	top: 20%;
	left: 33%;
	font-size: 1.5vw;
}

.editor_btn{
	position: absolute;
	top: 27%;
	left: 43%;
	width: 14%;
	height: 7%;
	color: white;
	background-color: transparent;
}

.editor_btn:hover
{
	color:#43B045;
}

.cards_row
{

}

.card1
{
	height: 70%;
}

.html_img, .css_img{
	height: 80%; 
	width: 80%;
	padding-top: 25%;
	padding-left: 20%
}

.js_img{
	height: 80%; 
	width: 73%;
	padding-top: 20%;
	padding-left: 25%
}

.java_img{
	height: 80%; 
	width: 80%;
	padding-top: 20%;
	padding-left: 24%
}

.htmlPractise_tint{
	/*background: linear-gradient(rgba(255, 87, 34,0.2),rgba(255, 87, 34,0.2));*/
	border: 2px solid rgba(255, 87, 34,0.2);
}
/*rgba(255, 87, 34,0.9)
rgba(213, 0, 0,0.4)*/
.cssPractise_tint
{
	/*background: linear-gradient(rgba(213, 0, 0,0.5),rgba(213, 0, 0,0.5));*/
}
/*rgba(85, 139, 47,0.7),rgba(255, 196, 0,0.7)*/

.jsPractise_tint
{
	/*background: linear-gradient(rgba(85, 139, 47,0.7),rgba(85, 139, 47,0.7));*/
}

.javaPractise_tint{
	/*background: linear-gradient(rgba(255, 196, 0,0.7),rgba(255, 196, 0,0.7));	*/
}

.html_prac_btn
{
	border: 3px solid rgba(255, 87, 34,0.5);
	font-size: 1.3vw;
	background-color: transparent;
	color: white;
	margin-top: 20px
}

.html_prac_btn:hover
{
	color: rgba(255, 87, 34,0.5);
}	

.css_prac_btn
{
	border: 3px solid rgba(213, 0, 0,0.5);
	font-size: 1.3vw;
	background-color: transparent;
	color: white;
	margin-top: 20px
}

.css_prac_btn:hover
{
	color: rgba(213, 0, 0,0.5)
}

.js_prac_btn
{
	border: 3px solid rgba(85, 139, 47,0.7);
	font-size: 1.3vw;
	background-color: transparent;
	color: white;
	margin-top: 20px
}

.js_prac_btn:hover
{
	color: rgba(85, 139, 47,0.7)
}

.java_prac_btn
{
	border: 3px solid rgba(255, 196, 0,0.6);
	font-size: 1.3vw;
	background-color: transparent;
	color: white;
	margin-top: 20px
}

.java_prac_btn:hover
{
	color: rgba(255, 196, 0,0.6)
}
