<link rel="stylesheet" type="text/css" href="./css/style.css">

<link rel="stylesheet" type="text/css" href="./css/responsive.css">

<link rel="stylesheet" type="text/css" href="./css/main.css">

<div class="top_div text-center">
	<div class="text-center">
		<p class="html_practise_heading text-center">HTML PRACTISE</p>
		<p class="html_practise_subheading">Way to learn, practise and grow, practise and grow</p>
		<button type="submit" class="btn btn-lg editor_btn" style="border: 1px solid #43B05F;">Go To Editor</button>
	</div>
</div>

<div id="mySidenav" class="sidenav">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<a ui-sref="mainpage"><span class="sidenav_icon"><i class="fa fa-home" aria-hidden="true"></i></span>Home</a>
	<a href="#"><span class="sidenav_icon"> <i class="fa fa-pencil" aria-hidden="true"></i></span>Practice</a>
	<a href="#"><span class="sidenav_icon"><i class="fa fa-cubes" aria-hidden="true"></i></span>Readymade Code</a>
	<a href="#"><span class="sidenav_icon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>Gallery</a>
</div>

<span class="hamburger" onclick="openNav()">&#9776;</span>

<div class="jumbotron jumbotron-fluid">
  <div class="container" style="background-color: white">
  <div id="page1">
    <div style="padding-top: 2vw">
    	<h4 class="display-6">Ques 1. Which tag is used to for linking a .css file in .html file?</h4>
    	<ol type="i">
    		<li>rel</li>
    		<li>&lta&gt &lt/a&gt</li>
    		<li>&ltlink&gt &lt/link&gt</li>
    	</ol>
    </div>

    <div class="">
    	<h4 class="display-6">Ques 2. Which tag is used to link .js file in .html file?</h4>
    	<ol type="i">
    		<li>&lta&gt &lt/a&gt</li>
    		<li>&ltlink&gt &lt/link&gt</li>
    		<li>&ltscript&gt &lt/script&gt</li>
    	</ol>
    </div>

    <div class="">
    	<h4 class="display-6">Ques 3. Which attribute must be used in <a></a> tag for linking? </h4>
    	<ol type="i">
    		<li>rel</li>
    		<li>href</li>
    		<li>class</li>
    	</ol>
    </div>
    
    <div class="">
    	<h4 class="display-6">Ques 4. Where do we specify the <tiitle></title>? </h4>
    	<ol type="i">
    		<li>head</li>
    		<li>body</li>
    		<li>section</li>
    	</ol>
    </div>

    <div class="">
    	<h4 class="display-6">Ques 5. Can we write javascript and css in html page? </h4>
    	<ol type="i">
    		<li>No</li>
    		<li>YES</li>
    		<li>Don't know</li>
    	</ol>
    </div>
    </div>

    <div>   
        <nav aria-label="html practice pages" style="text-align: center;">
            <ul class="pagination pagination-lg">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
  </div>
</div>

<script>
	function openNav() {
	    document.getElementById("mySidenav").style.width = "300px";
	}

	function closeNav() {
	    document.getElementById("mySidenav").style.width = "0";
	}
</script>
