
<link rel="stylesheet" type="text/css" href="./css/main.css">

<div class="back_tint">
</div>

	    <div id="mySidenav" class="sidenav">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		  <i class="fa fa-university fa-4x" aria-hidden="true" style="color: white; padding-left:40%;padding-bottom:10% "></i>
		  <button type="button" class="btn btn-block btn-lg menu_item" ui-sref="tips">Tips For Developers</button>
						<button type="button" class="btn btn-block btn-lg menu_item">Readymade Code</button>
						<button type="button" class="btn btn-block btn-lg menu_item">Practise</button>
						<button type="button" class="btn btn-block btn-lg menu_item">Tutorials</button>
						<button type="button" class="btn btn-block btn-lg menu_item">Templates</button>
						<hr width="250"  size="1" style="border-top:3px solid white ">
						<button type="button" class="btn btn-block btn-lg menu_item" ui-sref="signup">SignUp/Login</button>
						<button type="button" class="btn btn-block btn-lg menu_item">About Us</button>
						<button type="button" class="btn btn-block btn-lg menu_item">Contact Us</button>
		</div>
		<span class="hamburger" id="hamburger" onclick="openNav()">&#9776;</span>


<div class="slides">
	<div class="container text-center">
			<div class="Logo" style="padding-left:200px">
				<img src="./img/logo.png" height="300" width="300">
			</div>
			<div class="col-sm-offset-0 col-sm-12 col-md-offset-4 col-md-8  slide1">
				<p class="tagline"><span style="color: #43B05F">&lt/&gt</span>Learn  <span style="color: #43B05F">Explore</span>  Develop<span style="color: #43B05F">&lt/&gt</span></p>
				<p class="text-center sub_tagline">learn explore develop learn explore develop</p>
				<hr width="100"  size="6" style="border-color:#43B05F;border-top:3px solid #43B05F "> 
				<button type="submit" class="btn btn-outline-primary btn-lg tips_btn" ui-sref="practise">Practise Section</button>
			</div>

			
				<div class="col-md-offset-5 col-md-6 slide2 text-center">
					<div>
						<p class="feature1">Tips for <span style="color: #43B05F">Developers</span></p>
						<p class="feature1_subtitle">tips  tips tips tips tips tips </p>
					</div>

					<div class="tip_btn_section">
						<button type="submit" class="btn btn-outline-primary btn-lg tips_btn">Go to Tips Section</button>
					</div>
				</div>
			
			
				<div class="col-md-offset-5 col-md-6 text-center slide3">
					<div>
						<p class="feature2">Readymade <span style="color: #43B05F">Code</span></p>
						<p class="feature2_subtitle">Code Code Code </p>
					</div>

					<div class="tip_btn_section">
						<button type="submit" class="btn btn-outline-primary btn-lg tips_btn">Readymade Section</button>
					</div>
				</div>

				<div class="col-md-offset-5 col-md-6 text-center slide4">
					<div>
						<p class="feature2">Practise <span style="color: #43B05F">Section</span></p>
						<p class="feature2_subtitle">Practise Practise Practise Practise</p>
					</div>

					<div class="tip_btn_section">
						<button type="submit" class="btn btn-outline-primary btn-lg tips_btn" ui-sref="practise">Practise Section</button>
					</div>
				</div>
	</div>
</div>
 <script>
	function openNav() {
	    document.getElementById("mySidenav").style.width = "300px";
	    document.getElementById('hamburger').style.display="none";
	}

	function closeNav() {
	    document.getElementById("mySidenav").style.width = "0";
	    document.getElementById('hamburger').style.display="block";
	}
</script>