	<link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/responsive.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
   
	<div class="readymadecode">
		<div id="mySidenav" class="sidenav text-center">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		  <div class="Logo " style="text-align:center">
				<img src="./img/logo.png" height="150" width="150">
		  </div>
		  <a href="#" ui-sref="mainpage"><span class="sidenav_icon"><i class="fa fa-home" aria-hidden="true" ></i></span>Home</a>
		  <a href="#" ui-sref="tips"><span class="sidenav_icon"><i class="fa fa-lightbulb-o" aria-hidden="true" ></i></span>Tips for Developers</a>
		  <a href="#" ng-click="gotoRMC()"><span class="sidenav_icon"><i class="fa fa-cubes" aria-hidden="true" ></i></span>Readymade Code</a>
		  <a href="#" ng-click="gotoPrac()"><span class="sidenav_icon"> <i class="fa fa-pencil" aria-hidden="true" ></i></span>Practice</a>
		  <a href="#" ng-click="gotoTUT()"><span class="sidenav_icon"><i class="fa fa-picture-o" aria-hidden="true" ></i></span>Tutorials</a>
		</div>
		<span class="hamburger" onclick="openNav()">&#9776;</span>
		<div class="col-md-5 rmcleft">
			<div class="rmcleftTint">
				<div class="container  rmcleftContainer">
					<div class="code text-center">
						<img src="img/code.png" height="120" width="120">
					</div>
					<div class="rmcleftText">
						<h1>Get ReadyMade <span style="color:#43B05F">&lt/</span>Code<span style="color:#43B05F">&gt</span></h1>
						<p class="text-muted">Sit back and relax, because you are at the right place.Get the code you want and make development easier.Sit back and relax, because you are at the right place.Get the code you want and make development easier.
						Sit back and relax, because you are at the right place.Get the code you want and make development easier.</p>
					</div>
					<div class="bottomNav ">
						<ul>
							<li class="text-muted"><a href="" ui-sref="mainpage">Home</a></li>
						</ul>
					</div>
					
				</div>
			</div>
			
		</div>
		<div class="col-md-7 rmcright">
			<div class="container">
				<div class="row row1">
					<div class="col-md-6 text-center">
						<div class="rmcDiv">
							<img src="img/java.png" height="120" width="120"><br>
						</div>
						<div class="rmcDivbutton">
							<button type="button" class="btn btn-primary" style="" ng-click="javaCode()">Java Code</button>
						</div>
						
					</div>
					<div class="col-md-6 text-center">
						<div class="rmcDiv">
							<img src="img/js.png" height="120" width="120"><br>
						</div>
						<div class="rmcDivbutton">
							<button type="button" class="btn btn-primary" >Node.js Code</button>
						</div>
						
					</div>
				</div>
				<div class="row row1">
					<div class="col-md-6 text-center">
						<div class="rmcDiv">
							<img src="img/html.png" height="120" width="120"><br>
						</div>
						<div class="rmcDivbutton">
							<button type="button" class="btn btn-primary" >HTML Code</button>
						</div>
						
					</div>
					<div class="col-md-6 text-center">
						<div class="rmcDiv">
							<img src="img/java.png" height="120" width="120"><br>
						</div>
						<div class="rmcDivbutton">
							<button type="button" class="btn btn-primary" >Java Code</button>
						</div>
						
					</div>
				</div>
			</div>
		</div>

	</div>
		<script>
			function openNav() {
			    document.getElementById("mySidenav").style.width = "300px";
			}

			function closeNav() {
			    document.getElementById("mySidenav").style.width = "0";
			}
		</script>
	</div>
	   