	<link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/responsive.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<div class="signUppage">
		<div id="mySidenav" class="sidenav text-center">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		  <div class="Logo " style="text-align:center">
				<img src="./img/logo.png" height="150" width="150">
		  </div>
		  <a href="#" ui-sref="mainpage"><span class="sidenav_icon"><i class="fa fa-home" aria-hidden="true" ></i></span>Home</a>
		  <a href="#" ui-sref="tips"><span class="sidenav_icon"><i class="fa fa-lightbulb-o" aria-hidden="true" ></i></span>Tips for Developers</a>
		  <a href="#" ng-click="gotoRMC()"><span class="sidenav_icon"><i class="fa fa-cubes" aria-hidden="true" ></i></span>Readymade Code</a>
		  <a href="#" ng-click="gotoPrac()"><span class="sidenav_icon"> <i class="fa fa-pencil" aria-hidden="true" ></i></span>Practice</a>
		  <a href="#" ng-click="gotoTUT()"><span class="sidenav_icon"><i class="fa fa-picture-o" aria-hidden="true" ></i></span>Tutorials</a>
		</div>
		<span class="hamburger" onclick="openNav()">&#9776;</span>
	<div class="container signupContainer">
		<div class="row signcard">
			<div class="col-md-6 leftPane">
				<div class="container">
					<div class="row signText text-center">
						<p>Plan Your activities and control your progress Online</p>
					</div>
					<div class="row signImg text-center">
						<img src="img/startup.png" >

					</div>
					<hr style="background-color:white;margin-top:18px;width:80%;padding-top:1px">
					<hr style="background-color:white;padding-top:1px">
				</div>
				
			</div>
		<div class="col-sm-12 col-md-6 rightPane">
				<div class="container">
					<div class="row selectButton">
						<button type="button" class="btn  signinbutton" ui-sref="signin">Sign in</button>
					</div>
					<div class="row myform">
						<div class="">
							<div class="signupheading text-center">
								<p>Sign Up</p>
							<hr style="background-color:#43B05F;width:50px;padding-top:2px">
							</div>
							<form name="singupForm" novalidate>
						    	<div class="form-group row">     
						       		<input type="email" class="form-control" id="inputEmail3" placeholder="Email *" ng-model="signupMail" required>	
						    	</div>
							    <div class="form-group row">
							        <input type="text" class="form-control" id="inputPassword3" placeholder="Full Name *" ng-model="signupName"  required>
							    </div>
							     <div class="form-group row">
							        <input type="password" class="form-control" id="inputPassword3" maxlength="10" placeholder="Password *" minlength="6" ng-model="signupPass"  required>
							        <small id="passwordHelpBlock" class="form-text text-muted">
									  Your password must be 6-10 characters long, contain letters only, and must not contain number, spaces, special characters, or emoji.
									</small>
							    </div>

							     <div class="form-group row">
							        <input type="password" class="form-control" id="inputPassword3" placeholder="Confirm Password *" ng-model="signupCpass" maxlength="10" minlength="6" required>
							        <small id="passwordHelpBlock" class="form-text text-muted">
									  Confirm password must match your Password.
									</small>
							    </div>
							    <div class="buttons">
							    
									<div class="form-check form-check-inline signupbutton ">
									    <button type="button" class="btn btn-outline-success" ng-click="signup()" ng-disabled="singupForm.$invalid">Sign Up</button> 
									</div>
							    </div>
							    

						   </form>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
			function openNav() {
			    document.getElementById("mySidenav").style.width = "300px";
			}

			function closeNav() {
			    document.getElementById("mySidenav").style.width = "0";
			}
</script>