	<link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/responsive.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">


   <div class="tips">
     <div class="col-md-9 tip">
	    <div id="mySidenav" class="sidenav text-center">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		  <div class="Logo " style="text-align:center">
				<img src="./img/logo.png" height="150" width="150">
		  </div>
		  <a href="#" ui-sref="mainpage"><span class="sidenav_icon"><i class="fa fa-home" aria-hidden="true" ></i></span>Home</a>
		  <a href="#" ui-sref="tips"><span class="sidenav_icon"><i class="fa fa-lightbulb-o" aria-hidden="true" ></i></span>Tips for Developers</a>
		  <a href="#" ng-click="gotoRMC()"><span class="sidenav_icon"><i class="fa fa-cubes" aria-hidden="true" ></i></span>Readymade Code</a>
		  <a href="#" ng-click="gotoPrac()"><span class="sidenav_icon"> <i class="fa fa-pencil" aria-hidden="true" ></i></span>Practice</a>
		  <a href="#" ng-click="gotoTUT()"><span class="sidenav_icon"><i class="fa fa-picture-o" aria-hidden="true" ></i></span>Tutorials</a>
		</div>
		<span class="hamburger" onclick="openNav()">&#9776;</span>
     	<div class="container">
     		<div class="heading">
     			<h1><span class="heading_icon"><i class="fa fa-lightbulb-o fa-spin fa-pulse" aria-hidden="true"></i></span><span style="color:#43B05F">TIPS</span> FOR <span style="color:#43B05F;font-weight:bolder">DEVELOPERS</span></h1>
     		</div>
     	</div>
     	
     		<div class="tips_cards">
     			<div class="container">
	     			<ul class="nav nav-tabs flex-column flex-sm-row nav-fill" id="myTab" role="tablist">
					  <li class="nav-item active">
					    <a class="nav-link active" id="front-end-tab" data-toggle="tab" href="#frontend" role="tab" aria-controls="home" aria-expanded="true" ng-click="showFrontEndTips()">Web Frontend</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="back-end-tab" data-toggle="tab" href="#backend" role="tab" aria-controls="profile" ng-click="showBackEndTips()">Web Backend</a>
					  </li>

					  <li class="nav-item">
					    <a class="nav-link" id="java-tab" data-toggle="tab" href="#java" role="tab" aria-controls="profile" ng-click="javaTips()">Java</a>
					  </li>  
					</ul>

					<div class="tab-content" id="myTabContent" >
					  <div class="tab-pane fade show active" id="frontend" role="tabpanel" aria-labelledby="front-end-tab">
					  	<div class="card text-center mb-3 tips_card" ng-repeat="tip in frontEndTip">
						  	<div class="card-header bg-transparent">{{tip.tip_heading}}</div>
						 	<div class="card-body text-primary">
						    	<p class="card-text" style="text-align: left">{{tip.tip_content}}</p>
						  	</div>
						  	<div class="card-footer bg-transparent ">By ~ {{tip.author_name}}
						  	</div>
						</div>
					  </div>
					 

					  <div class="tab-pane fade" id="backend" role="tabpanel" aria-labelledby="back-end-tab">
					  	<div class="card text-center mb-3 tips_card" ng-repeat="tip in backEndTip">
						  <div class="card-header bg-transparent">{{tip.tip_heading}}</div>
						  <div class="card-body text-primary">
						    <p class="card-text" style="text-align: left">{{tip.tip_content}}</p>
						  </div>
						  <div class="card-footer bg-transparent ">By ~ {{tip.author_name}}</div>
						</div>
					  </div>
					  
					  <div class="tab-pane fade" id="java" role="tabpanel" aria-labelledby="kava-tab">
					  	<div class="card text-center mb-3 tips_card" ng-repeat="tip in javaTip">
						  <div class="card-header bg-transparent">{{tip.tip_heading}}</div>
						  <div class="card-body text-primary">
						   
						    <p class="card-text" style="text-align: left">{{tip.tip_content}}</p>
						  </div>
						  <div class="card-footer bg-transparent ">By ~ {{tip.author_name}}</div>
						</div>
					  </div>
					 
					</div>
     			</div>
     			
     		</div>

 	
     </div>
     <div class="col-md-3 new_tip">
     	<div class="container">
     		<div class="new_tip_content_heading">
     			<img src="img/logo3.png" height="110" width="150">
     		</div>
     		<div class="new_tip_content_textarea">
     			<div class="subhead">
     				<h2>Got a new tip!</h2>
     				<p>Get it featured on CODE_TO_DEVELOP</p>
     			</div>

     			<div class="text-center">
     				<p class="userGreeting" ng-show="tipsaved">Your tip has been saved. It will be displayed soon!!!!!</p>
     			</div>

     			<form name="tip_form" novalidate>
	     			<div class="form-group">
					  <input type="text" class="form-control" placeholder="Tip Heading" ng-model="tip_heading" required>
					  <textarea type="text" class="form-control" rows="10" id="comment" placeholder="Give Your super Tip to help Other developers" ng-model="tip_content" required></textarea>
					  <input type="text" class="form-control" placeholder="Your Name" ng-model="author_name" required>
					  <select class="form-control" required ng-model="tip_language">
					  	<option>Web Frontend</option>
					  	<option>Web Backend</option>
					  	<option>Java</option>
					  </select>
					</div>

					<div class="Submit_Your_Tip">
		     			<button type="button" class="btn btn-outline-primary btn-lg" ng-disabled="tip_form.$invalid" ng-click="save_tips()"><span style="color:white">Submit Your Tip</span></button>
		     		</div>
				</form>
     		</div>
     	</div>
     </div>
   </div>
   <script>
	function openNav() {
	    document.getElementById("mySidenav").style.width = "300px";
	}

	function closeNav() {
	    document.getElementById("mySidenav").style.width = "0";
	}


	</script>
     